<%= form_for(@recommendations_compliance) do |f| %>
  <% if @recommendations_compliance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recommendations_compliance.errors.count, "error") %> prohibited this recommendations_compliance from being saved:</h2>

      <ul>
      <% @recommendations_compliance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :organization %><br />
    <%= f.text_field :organization %>
  </div>
  <div class="field">
    <%= f.label :targetlevel %><br />
    <%= f.text_field :targetlevel %>
  </div>
  <div class="field">
    <%= f.label :currentlevel %><br />
    <%= f.text_field :currentlevel %>
  </div>
  <div class="field">
    <%= f.label :noncompliance %><br />
    <%= f.text_field :noncompliance %>
  </div>
  <div class="field">
    <%= f.label :notice %><br />
    <%= f.text_field :notice %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
