<h1>Listing recommendations_compliances</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Organization</th>
    <th>Targetlevel</th>
    <th>Currentlevel</th>
    <th>Noncompliance</th>
    <th>Notice</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recommendations_compliances.each do |recommendations_compliance| %>
  <tr>
    <td><%= recommendations_compliance.type %></td>
    <td><%= recommendations_compliance.organization %></td>
    <td><%= recommendations_compliance.targetlevel %></td>
    <td><%= recommendations_compliance.currentlevel %></td>
    <td><%= recommendations_compliance.noncompliance %></td>
    <td><%= recommendations_compliance.notice %></td>
    <td><%= recommendations_compliance.comment %></td>
    <td><%= link_to 'Show', recommendations_compliance %></td>
    <td><%= link_to 'Edit', edit_recommendations_compliance_path(recommendations_compliance) %></td>
    <td><%= link_to 'Destroy', recommendations_compliance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recommendations compliance', new_recommendations_compliance_path %>
