<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @recommendations_compliance.type %>
</p>

<p>
  <b>Organization:</b>
  <%= @recommendations_compliance.organization %>
</p>

<p>
  <b>Targetlevel:</b>
  <%= @recommendations_compliance.targetlevel %>
</p>

<p>
  <b>Currentlevel:</b>
  <%= @recommendations_compliance.currentlevel %>
</p>

<p>
  <b>Noncompliance:</b>
  <%= @recommendations_compliance.noncompliance %>
</p>

<p>
  <b>Notice:</b>
  <%= @recommendations_compliance.notice %>
</p>

<p>
  <b>Comment:</b>
  <%= @recommendations_compliance.comment %>
</p>


<%= link_to 'Edit', edit_recommendations_compliance_path(@recommendations_compliance) %> |
<%= link_to 'Back', recommendations_compliances_path %>
