<html>
<head>
  <script>
  $(function() {
     $( "#datepicker" ).datepicker({
      dateFormat: "yy-mm-dd",
      showOn: "button",
      buttonImage: "/images/calendar.jpg",
      buttonImageOnly: true
    });
     $( "#datepicker1" ).datepicker({
      dateFormat: "yy-mm-dd",
      showOn: "button",
      buttonImage: "/images/calendar.jpg",
      buttonImageOnly: true
    });
      });
  </script>
</head>
<body>
<%= form_for(@recommendation) do |a| %>
  <% if @recommendation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recommendation.errors.count, "error") %> prohibited this recommendation from being saved:</h2>

      <ul>
      <% @recommendation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="span11 offset well">
  <div class="form-horizontal">
    <div class="accordion " id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            New Recomondation 
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner">
            <div class="control-group">
    <%= a.label :title %><br />
    <%= a.text_field :title , :required => true %>
  </div>
            <div class="control-group">
    <%= a.label :status %><br />
    <%= a.select :status ,[['Opened','Opened'],['risk accepted','risk accepted'],['closed','closed'],['closed duplicate','closed duplicate']], :required => true %>
  </div>
            <div class="control-group">
    <%= a.label :auditorrecommendations%><br />
    <%= a.text_field :auditrecommendations , :required => true %>
  </div>
            <div class="control-group">
    <%= a.label :reference %><br />
    <%= a.text_field :reference , :required => true %>
  </div>
            <div class="control-group">
    <%= a.label :primarytopic %><br />
    <%= a.select :primarytopic ,[['access','access'],['network','network'],['premises','premises'],['management','management'],['global','gloabal'],['monitoring','monitoring']], :required => true %>
  </div>
            <div class="control-group">
    <%= a.label :secondarytopic %><br />
    <%= a.select :secondarytopic ,[['access','access'],['network','network'],['premises','premises'],['management','management'],['global','gloabal'],['monitoring','monitoring']], :required => true %>
  </div>
            <div class="control-group">
    <%= a.label :compliancetopic %><br />
    <%= a.text_field :compliancetopic , :required => true %>
  </div>
            <div class="control-group">
              <input type="checkbox">verified</input>
            </div>
            <div class="control-group">
    <%= a.label :priority %><br />
    <%= a.select :priority ,[['low','low'],['medium','medium'],['high','high']], :required => true %>
  </div>
            <div class="control-group">
    <%= a.label :severity %><br />
    <%= a.select :severity ,[['low','low'],['medium','medium'],['high','high']], :required => true %>
  </div>
            <div class="control-group">
    <%= a.label :targetdate %><br />
    <%= a.text_field :targetdate, :id => :datepicker , :required => true %>
  </div>
            <div class="control-group">
    <%= a.label :closeddate %><br />
    <%= a.text_field :closeddate, :id => :datepicker1 , :required => true %>
  </div>
</div>
</div>
</div>
</div>
</div>
<br>
<div>
    <%= a.submit 'Create Recommondation', :class => "pure-button pure-button-primary" %>
    <%= link_to 'Cancel', policies_path, :class => "pure-button pure-button-primary" %>
  </div>
<% end %>
</div>
</body>
</html>