<html>
<head>
    <title></title>
</head>
<body>
    <div id="header">
        <div><img src="/images/fixnix.png"></div>
    </div>
    <div id="main-wrap">
        <div id="sidebar">
            <%= render :partial => "layouts/menu" %>
        </div>
        <div id="content-wrap">
            <div class="sapn10 offset well">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#Auditor" data-toggle="tab">Auditor</a></li>
                        <li><a href="#Auditee" data-toggle="tab">Auditee</a></li>                        
                        <li><a href="#Per" data-toggle="tab">Permieeee</a></li>
                        <li><a href="#Document" data-toggle="tab">Document</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="Auditor" class="tab-pane active">
                            <table class="table table-bordered">
  <tr>
    <th>Title</th>
    <th>Status</th>
    <th>Severity</th>
  </tr>

<% @recommendations.each do |recommendation| %>
  <tr>
    <td><%= recommendation.title %></td>
    <td><%= recommendation.status %></td>
    <td><%= recommendation.severity %></td>
    <td><%= link_to 'Show', recommendation %></td>
    <td><%= link_to 'Edit', edit_recommendation_path(recommendation) %></td>
    <td><%= link_to 'Destroy', recommendation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recommendation', new_recommendation_path, :class => "pure-button pure-button-primary" %>
</div>


<div id="Auditee" class="tab-pane">
</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
