<html>
<head>
  <title></title>
</head>
<body>
  <div id="header">
    <div><img src="/images/fixnix.png"></div>
  </div>
  <div id="main-wrap">
    <div id="sidebar">
      <%= render :partial => "layouts/menu" %>
    </div>
    <div id="content-wrap">
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @recommendation.title %>
</p>

<p>
  <b>Status:</b>
  <%= @recommendation.status %>
</p>

<p>
  <b>Auditrecommendations:</b>
  <%= @recommendation.auditrecommendations %>
</p>

<p>
  <b>Reference:</b>
  <%= @recommendation.reference %>
</p>

<p>
  <b>Primarytopic:</b>
  <%= @recommendation.primarytopic %>
</p>

<p>
  <b>Secondarytopic:</b>
  <%= @recommendation.secondarytopic %>
</p>

<p>
  <b>Compliancetopic:</b>
  <%= @recommendation.compliancetopic %>
</p>

<p>
  <b>Verification:</b>
  <%= @recommendation.verification %>
</p>

<p>
  <b>Priority:</b>
  <%= @recommendation.priority %>
</p>

<p>
  <b>Severity:</b>
  <%= @recommendation.severity %>
</p>

<p>
  <b>Targetdate:</b>
  <%= @recommendation.targetdate %>
</p>

<p>
  <b>Closeddate:</b>
  <%= @recommendation.closeddate %>
</p>
<%= link_to 'Edit', edit_recommendation_path(@recommendation), :class => "pure-button pure-button-primary" %>
<%= link_to 'Back', recommendations_path, :class => "pure-button pure-button-primary" %>
</div>
</div>
</body>
</html>