<%= form_for(@recommendations_document) do |f| %>
  <% if @recommendations_document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recommendations_document.errors.count, "error") %> prohibited this recommendations_document from being saved:</h2>

      <ul>
      <% @recommendations_document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_field :desc %>
  </div>
  <div class="field">
    <%= f.label :ref %><br />
    <%= f.text_field :ref %>
  </div>
  <div class="field">
    <%= f.label :verified %><br />
    <%= f.text_field :verified %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :confidential %><br />
    <%= f.text_field :confidential %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
