<h1>Listing recommendations_documents</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Desc</th>
    <th>Ref</th>
    <th>Verified</th>
    <th>Type</th>
    <th>Confidential</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recommendations_documents.each do |recommendations_document| %>
  <tr>
    <td><%= recommendations_document.title %></td>
    <td><%= recommendations_document.desc %></td>
    <td><%= recommendations_document.ref %></td>
    <td><%= recommendations_document.verified %></td>
    <td><%= recommendations_document.type %></td>
    <td><%= recommendations_document.confidential %></td>
    <td><%= link_to 'Show', recommendations_document %></td>
    <td><%= link_to 'Edit', edit_recommendations_document_path(recommendations_document) %></td>
    <td><%= link_to 'Destroy', recommendations_document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recommendations document', new_recommendations_document_path %>
