<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @recommendations_document.title %>
</p>

<p>
  <b>Desc:</b>
  <%= @recommendations_document.desc %>
</p>

<p>
  <b>Ref:</b>
  <%= @recommendations_document.ref %>
</p>

<p>
  <b>Verified:</b>
  <%= @recommendations_document.verified %>
</p>

<p>
  <b>Type:</b>
  <%= @recommendations_document.type %>
</p>

<p>
  <b>Confidential:</b>
  <%= @recommendations_document.confidential %>
</p>


<%= link_to 'Edit', edit_recommendations_document_path(@recommendations_document) %> |
<%= link_to 'Back', recommendations_documents_path %>
