<html>
<head>
  <script>
  $(function() {
     $( "#datepicker" ).datepicker({
      dateFormat: "yy-mm-dd",
      showOn: "button",
      buttonImage: "/images/calendar.jpg",
      buttonImageOnly: true
    });
     $( "#datepicker1" ).datepicker({
      dateFormat: "yy-mm-dd",
      showOn: "button",
      buttonImage: "/images/calendar.jpg",
      buttonImageOnly: true
    });     
  });
  </script>
</head>
<body>
  <%= form_for(@audit) do |f| %>
  <% if @audit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@audit.errors.count, "error") %> prohibited this audit from being saved:</h2>

      <ul>
      <% @audit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="span11 offset well">
  <div class="form-horizontal">
    <div class="accordion " id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            New Policy 
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner">
            <div class="control-group">
              <%= f.label :reference %><br />
              <%= f.text_field :reference , :required => true %>
            </div>
            <div class="control-group">
              <%= f.label :origin %><br />
              <%= f.select :origin, [["Internal","internal"],["External","external"],["Regulator","regulator"],["Self Audit","selfaudit"]], 
              :required => true  %>
            </div>
            <div class="control-group">
              <%= f.label :startdate %><br />
              <%= f.text_field :startdate, :id => :datepicker , :required => true %>
            </div>
            <div class="control-group">
              <%= f.label :enddate %><br />
              <%= f.text_field :enddate, :id => :datepicker1 , :required => true %>
            </div>
            <div class="control-group">
              <%= f.label :confidentiality %><br />
              <%= f.select :confidentiality, [['Internal','internal'],['Confidential','confidential'],['Sponser Only','sponseronly'],['Company Private','companyprivate']] , :required => true %>
            </div>
            <div class="control-group">
              <%= f.label :topic %><br />
              <%= f.select :topic,[['Network Security','networksecurity'],['Physical Security','physicalsecurity'],['System Security','systemsecurity'],['Access','access'],['Applications','applications'],['Business','business'],['Other','other']] , :required => true %>
            </div>
            <div class="control-group">
              <%= f.label :standard %><br />
              <%= f.text_field :standard , :required => true %>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            Scope and Objective 
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
            <div class="control-group">
              <%= f.label :objectives %><br />
              <%= f.text_area :objectives %>
            </div>
            <div class="control-group">
              <%= f.label :scope %><br />
              <%= f.text_area :scope %>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
            Context and Deliverables 
          </a>
        </div>
        <div id="collapseThree" class="accordion-body collapse">
          <div class="accordion-inner">
            <div class="control-group">
              <%= f.label :context %><br />
              <%= f.text_area :context %>
            </div>
            <div class="control-group">
              <%= f.label :deliverables %><br />
              <%= f.text_area :deliverables %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
  <%= f.submit 'create audit', :class => "pure-button pure-button-primary"%>
  <%= link_to 'Cancel', audits_path, :class => "pure-button pure-button-primary" %>
</div>
<% end %>
</div>
</body>
</html>