<html>
<head>
    <title></title>
</head>
<body>
    <div id="header">
        <div><img src="/images/fixnix.png"></div>
    </div>
    <div id="main-wrap">
        <div id="sidebar">
            <%= render :partial => "layouts/menu" %>
        </div>
        <div id="content-wrap">
            <div class="sapn10 offset well">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#Audits" data-toggle="tab">Audits</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="Audits" class="tab-pane active">
                            <table class="table table-bordered">
                                <tr>
                                    <th>Reference</th>
                                    <th>Origin</th>
                                    
                                </tr>
                                <% @audits.each do |audit| %>
                                <tr>
                                    <td><%= audit.reference %></td>
                                    <td><%= audit.origin %></td>
                                    <td><%= link_to 'Show', audit %></td>
                                    <td><%= link_to 'Edit', edit_audit_path(audit) %></td>
                                    <td><%= link_to 'Destroy', audit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                                </tr>
                                <% end %>
                            </table>
                            <br />
                            <%= link_to 'New Audit', new_audit_path, :class =>"pure-button pure-button-primary" %>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>


