<html>
<head>
  <title></title>
</head>
<body>
  <div id="header">
    <div><img src="/images/fixnix.png"></div>
  </div>
  <div id="main-wrap">
    <div id="sidebar">
      <%= render :partial => "layouts/menu" %>
    </div>
    <div id="content-wrap">
<p id="notice"><%= notice %></p>

<p>
  <b>Reference:</b>
  <%= @audit.reference %>
</p>

<p>
  <b>Origin:</b>
  <%= @audit.origin %>
</p>

<p>
  <b>Startdate:</b>
  <%= @audit.startdate %>
</p>

<p>
  <b>Enddate:</b>
  <%= @audit.enddate %>
</p>

<p>
  <b>Confidentiality:</b>
  <%= @audit.confidentiality %>
</p>

<p>
  <b>Topic:</b>
  <%= @audit.topic %>
</p>

<p>
  <b>Standard:</b>
  <%= @audit.standard %>
</p>

<p>
  <b>Context:</b>
  <%= @audit.context %>
</p>

<p>
  <b>Objectives:</b>
  <%= @audit.objectives %>
</p>

<p>
  <b>Scope:</b>
  <%= @audit.scope %>
</p>

<p>
  <b>Deliverables:</b>
  <%= @audit.deliverables %>
</p>
<%= link_to 'Edit', edit_audit_path(@audit), :class => "pure-button pure-button-primary" %>
<%= link_to 'Back', audits_path, :class => "pure-button pure-button-primary" %>
</div>
</div>
</body>
</html>
