<html>
<head>
  <script>
  $(function() {
     $( "#datepicker" ).datepicker({
      dateFormat: "yy-mm-dd",
      showOn: "button",
      buttonImage: "/images/calendar.jpg",
      buttonImageOnly: true
    });
    $( "#datepicker1" ).datepicker({
      dateFormat: "yy-mm-dd",
      showOn: "button",
      buttonImage: "/images/calendar.jpg",
      buttonImageOnly: true
    });
  });
  </script>
</head>
<body>

<%= form_for(@auditaction) do |f| %>
  <% if @auditaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auditaction.errors.count, "error") %> prohibited this auditaction from being saved:</h2>

      <ul>
      <% @auditaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="span11 offset well">
  <div class="form-horizontal">
    <div class="accordion " id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            New Action
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner">
            <div class="control-group">
    <%= f.label :title %><br />
    <%= f.text_field :title, :required => true %>
  </div>
   <div class="control-group">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
     <div class="control-group">
    <%= f.label :external_reference %><br />
    <%= f.text_field :external_reference %>
  </div>
  <div class="control-group">
    <%= f.label :duedate %><br />
    <%= f.text_field :duedate, :id => :datepicker1 , :required => true%>
  </div>
  <div class="control-group">
    <%= f.label :closed_date %><br />
    <%= f.text_field :closed_date, :id => :datepicker , :required => true%>
  </div>
  <div class="control-group">
    <%= f.label :status %><br />
    <%= f.text_field :status, :required => true %>
  </div>
  <div class="control-group">
    <%= f.label :responsible %><br />
    <%= f.text_field :responsible , :required => true%>
  </div>
</div>
</div>
</div>
</div>
</div>
  <div>
    <%= f.submit 'create action', :class => "pure-button pure-button-primary" %>
    <%= link_to 'Cancel', auditactions_path, :class => "pure-button pure-button-primary" %>
  </div>
<% end %>
</div>
</body>
</html>