<html>
<head>
    <title></title>
</head>
<body>
    <div id="header">
        <div><img src="/images/fixnix.png"></div>
    </div>
    <div id="main-wrap">
        <div id="sidebar">
            <%= render :partial => "layouts/menu" %>
        </div>
        <div id="content-wrap">
            <div class="sapn10 offset well">
                <div class="tabbable">
<!--                     <ul class="nav nav-tabs">
                        <li class="active"><a href="#Actions" data-toggle="tab">Actions</a></li>
                    </ul>
 -->                    <div class="tab-content">
                        <div id="Audits" class="tab-pane active">
                            <table class="table table-bordered">
                              <tr>
                                <th>Title</th>
                                <th>Status</th>
                              </tr>

<% @auditactions.each do |auditaction| %>
  <tr>
    <td><%= auditaction.title %></td>
    <td><%= auditaction.status %></td>
    <td><%= link_to 'Show', auditaction %></td>
    <td><%= link_to 'Edit', edit_auditaction_path(auditaction) %></td>
    <td><%= link_to 'Destroy', auditaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New Action', new_auditaction_path, :class => "pure-button pure-button-primary" %>
</div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>

