<html>
<head>
  <title></title>
</head>
<body>
  <div id="header">
    <div><img src="/images/fixnix.png"></div>
  </div>
  <div id="main-wrap">
    <div id="sidebar">
      <%= render :partial => "layouts/menu" %>
    </div>
    <div id="content-wrap">
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @auditaction.title %>
</p>
<p>
  <b>Description:</b>
  <%= @auditaction.description %>
</p>
<p>
  <b>External Reference:</b>
  <%= @auditaction.external_reference %>
</p>
<p>
  <b>Duedate:</b>
  <%= @auditaction.duedate %>
</p>
<p>
  <b>Closed Date:</b>
  <%= @auditaction.closed_date %>
</p>
<p>
  <b>Status:</b>
  <%= @auditaction.status %>
</p>
<p>
  <b>Responsible:</b>
  <%= @auditaction.responsible %>
</p>


<%= link_to 'Edit', edit_auditaction_path(@auditaction), :class => "pure-button pure-button-primary" %> 
<%= link_to 'Back', auditactions_path, :class => "pure-button pure-button-primary" %>
</div>
</div>
</body>
</html>
