<html>
<head>
    <title></title>
    <%= javascript_include_tag "/js/highcharts.js", "chartkick" %>
    <script type="text/javascript" src ="js/themes/grid.js"></script>
</head>
<body>
    <div id="header">
        <div><img src="/images/fixnix.png"></div>
    </div>
    <div id="main-wrap">
        <div id="sidebar">
            <%= render :partial => "layouts/menu" %>
        </div>
        <table>
            <tr>
                <td>
            <div class="chart">
                <div>
                    <p>Audit</p>
                    <%= pie_chart Audit.group("reference").count %>
                </div>
        </div>
    </td>
    <td>
            <div class="chart">
                <div>
                    <p>Report</p>
                    <%= pie_chart Report.group("title").count %>
                </div>
            </div>
    </td>
</tr>
<tr>
    <td>
            <div class="chart">
                <div>
                    <p>Recommendations</p>
                    <%= pie_chart Recommendation.group("title").count %>
                </div>
            </div>
    </td>
    <td>
            <div class="chart">
                <div>
                    <p>Actions</p>
                    <%= pie_chart Auditaction.group("title").count %>
                </div>
            </div>
    </td>
</tr>
</table>
            </div>
        </div>
    </div>
</div>
<!-- <div id="footer">Footer</div> -->
</body>
</html>


