// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-one {
    position: relative;
    display: inline-block;
    margin-left: 300px;
}

.new-two {
    position: absolute;
    margin-left:40px;
}

.new {
    background-color: lightgrey;
    padding: 20px;
 }