<%= form_for(@recommendations_dependency) do |f| %>
  <% if @recommendations_dependency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recommendations_dependency.errors.count, "error") %> prohibited this recommendations_dependency from being saved:</h2>

      <ul>
      <% @recommendations_dependency.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :recommendations %><br />
    <%= f.text_field :recommendations %>
  </div>
  <div class="field">
    <%= f.label :duplicatereco %><br />
    <%= f.text_field :duplicatereco %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
