<h1>Listing recommendations_dependencies</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Recommendations</th>
    <th>Duplicatereco</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recommendations_dependencies.each do |recommendations_dependency| %>
  <tr>
    <td><%= recommendations_dependency.title %></td>
    <td><%= recommendations_dependency.recommendations %></td>
    <td><%= recommendations_dependency.duplicatereco %></td>
    <td><%= link_to 'Show', recommendations_dependency %></td>
    <td><%= link_to 'Edit', edit_recommendations_dependency_path(recommendations_dependency) %></td>
    <td><%= link_to 'Destroy', recommendations_dependency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recommendations dependency', new_recommendations_dependency_path %>
