<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @recommendations_dependency.title %>
</p>

<p>
  <b>Recommendations:</b>
  <%= @recommendations_dependency.recommendations %>
</p>

<p>
  <b>Duplicatereco:</b>
  <%= @recommendations_dependency.duplicatereco %>
</p>


<%= link_to 'Edit', edit_recommendations_dependency_path(@recommendations_dependency) %> |
<%= link_to 'Back', recommendations_dependencies_path %>
