<html>
<head>
  <script>
  $(function() {
     $( "#datepicker" ).datepicker({
      dateFormat: "yy-mm-dd",
      showOn: "button",
      buttonImage: "/images/calendar.jpg",
      buttonImageOnly: true
    });
  });
  </script>
</head>
<body>

<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="span11 offset well">
  <div class="form-horizontal">
    <div class="accordion " id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            New Report 
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner">


            <div class="control-group">
              <%= f.label :AuditReference %><br />
              <%= f.collection_select :audit_id , @audit, :id ,:reference %>
            </div>

            <div class="new-two">
              <%= f.label :origin %>
            </div>

            <div class="new-one">
              <%= f.label :topic %><br/><br>
            </div>

            <div class="new-two">
              <%= f.label :title %><br />
              <%= f.text_field :title , :required => true %>
            </div>
            <div class="new-one">
              <%= f.label :subtitle %><br />
              <%= f.text_field :subtitle , :required => true %>
            </div>
            <div class="control-group">
            <%= f.label :executivesummary %><br />
            <%= f.text_area :executivesummary %>
          </div>
          <div class="control-group">
            <%= f.label :source %><br />
            <%= f.text_field :source , :required => true %>
          </div>
          <div class="control-group">
            <%= f.label :duedate %><br />
            <%= f.text_field :duedate, :id => :datepicker , :required => true %>
          </div>
          <div class="control-group">
            <%= f.label :status %><br />
            <%= f.select :status , [["Draft","draft"],["Final","final"],["Approved","approved"],["Published","published"]], :required => true %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div>
  <%= f.submit 'Create Report',:class => "pure-button pure-button-primary" %>
  <%= link_to 'Cancel', reports_path, :class => "pure-button pure-button-primary" %>
</div>
<% end %>
</div>
</body>
</html>