<html>
<head>
    <title></title>
</head>
<body>
    <div id="header">
        <div><img src="/images/fixnix.png"></div>
    </div>
    <div id="main-wrap">
        <div id="sidebar">
            <%= render :partial => "layouts/menu" %>
        </div>
        <div id="content-wrap">
            <div class="sapn10 offset well">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#Reports" data-toggle="tab">Reports</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="Policy" class="tab-pane active">
                            <table class="table table-bordered">
                              <tr>
                                  <th>Title</th>
                                  <th>Duedate</th>
                                  <th>Status</th>
                              </tr>
                              <% @reports.each do |report| %>
                              <tr>
                                <td><%= report.title %></td>
                                <td><%= report.duedate %></td>
                                <td><%= report.status %></td>
                                <td><%= link_to 'Show', report %></td>
                                <td><%= link_to 'Edit', edit_report_path(report) %></td>
                                <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                            </tr>
                            <% end %>
                        </table>
                        <br />
                        <%= link_to 'New Report', new_report_path, :class => "pure-button pure-button-primary" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

