<html>
<head>
  <title></title>
</head>
<body>
  <div id="header">
    <div><img src="/images/fixnix.png"></div>
  </div>
  <div id="main-wrap">
    <div id="sidebar">
      <%= render :partial => "layouts/menu" %>
    </div>
    <div id="content-wrap">
<p id="notice"><%= notice %></p>

<p>
  <b>AuditReference:</b>
  <%= @report.audit_id %>
</p>


<p>
  <b>Title:</b>
  <%= @report.title %>
</p>

<p>
  <b>Subtitle:</b>
  <%= @report.subtitle %>
</p>

<p>
  <b>Executivesummary:</b>
  <%= @report.executivesummary %>
</p>

<p>
  <b>Source:</b>
  <%= @report.source %>
</p>

<p>
  <b>Duedate:</b>
  <%= @report.duedate %>
</p>

<p>
  <b>Status:</b>
  <%= @report.status %>
</p>


<%= link_to 'Edit', edit_report_path(@report), :class => "pure-button pure-button-primary" %>
<%= link_to 'Back', reports_path, :class => "pure-button pure-button-primary" %>
</div>
</div>
</body>
</html>