<%= form_for(@recommendations_auditee) do |f| %>
  <% if @recommendations_auditee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recommendations_auditee.errors.count, "error") %> prohibited this recommendations_auditee from being saved:</h2>

      <ul>
      <% @recommendations_auditee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :answer %><br />
    <%= f.text_field :answer %>
  </div>
  <div class="field">
    <%= f.label :targetdate %><br />
    <%= f.text_field :targetdate %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <%= f.select :priority, [['low','low'],['medium','medium'],['high','high']] %>
  </div>
  <div class="field">
    <%= f.label :severity %><br />
    <%= f.select :severity, [['low','low'],['medium','medium'],['high','high']] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
