<h1>Listing recommendations_auditees</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Answer</th>
    <th>Targetdate</th>
    <th>Priority</th>
    <th>Severity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recommendations_auditees.each do |recommendations_auditee| %>
  <tr>
    <td><%= recommendations_auditee.title %></td>
    <td><%= recommendations_auditee.answer %></td>
    <td><%= recommendations_auditee.targetdate %></td>
    <td><%= recommendations_auditee.priority %></td>
    <td><%= recommendations_auditee.severity %></td>
    <td><%= link_to 'Show', recommendations_auditee %></td>
    <td><%= link_to 'Edit', edit_recommendations_auditee_path(recommendations_auditee) %></td>
    <td><%= link_to 'Destroy', recommendations_auditee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recommendations auditee', new_recommendations_auditee_path %>
