<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @recommendations_auditee.title %>
</p>

<p>
  <b>Answer:</b>
  <%= @recommendations_auditee.answer %>
</p>

<p>
  <b>Targetdate:</b>
  <%= @recommendations_auditee.targetdate %>
</p>

<p>
  <b>Priority:</b>
  <%= @recommendations_auditee.priority %>
</p>

<p>
  <b>Severity:</b>
  <%= @recommendations_auditee.severity %>
</p>


<%= link_to 'Edit', edit_recommendations_auditee_path(@recommendations_auditee) %> |
<%= link_to 'Back', recommendations_auditees_path %>
